<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../css/Menu.css" />
</head>
<body>
    <nav id="nav">
        <div class="logo">
            <img src="../img/Logo.png" alt="">
            <img id="menu" src="../img/menu.png" alt="">
        </div>
        <ul id="butons">
            <li>
                <a href="../index.html" target="_top" class="buttonContent">
                    <img src="../img/home.png" alt="">
                    <span>Home</span>
                </a>
            </li>
            <li>
                <div class="buttonContent">
                    <img src="../img/ejercicios.png" alt="">
                    <span>Ejercicios</span>
                    <input type="checkbox">
                </div>
                <ul class="subMenu">
                    <li>
                        <a href="../ProgramasSimples/index.html" target="_top" class="buttonContent">
                            <img src="../img/simple.png" alt="">
                            <span>Programas simples</span>
                        </a>
                    </li>
                </ul>
                <img class="arrow" src="../img/arrow.png" alt="">
            </li>
        </ul>
    </nav>

    <script>
        window.addEventListener("message", ({ data, source }) => {
            console.log(data);
            if (data <= 420) {
                let nav = document.getElementById('nav');
                console.log(nav)
                nav.className = "mobile";
            }
        });

        let btnMenu = document.getElementById('menu');
        let butons = document.getElementById('butons')
        let active = false;

        btnMenu.addEventListener('click', function () {
            if (!active) {
                butons.style = "opacity: 1;"
                active = true;
            }
            else{
                butons.style = "opacity: 0;"
                active = false;
            }
        });
    </script>
</body>
</html>