@import "../../../mixins/mixins";
@import "../../../base/settings";

html{
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}
body{
    height: 100%;
    
    display: flex;
    justify-content: center;

    background-color: transparent;
    overflow: hidden;
    margin: 0;
}

nav{
    width: 100%;
    ul{
        margin: 0;
        padding: 0;
        background-color: lighten($color: #202025, $amount: 5%);
        color: white;
        li{
            position: relative;
            display: flex;
            flex-direction: column;
            list-style: none;
            font-size: 1.3rem;
            user-select: none;
            .buttonContent{
                padding: 1.5rem 1rem;
                display: flex;
                align-items: center;
                transition: background-color .3s;
                text-decoration: none;
                color: white;
                img{
                    width: 30px;
                    margin-right: 1rem;
                }
                a{
                    text-decoration: none;
                    color: white;
                }
                input{
                    position: absolute;
                    width: 100%;
                    height: 4rem;
                    opacity: 0;
                    cursor: pointer;
                    z-index: 10;
                }
                &:hover{
                    background-color: #000;
                }
            }
            .subMenu{
                height: 0;
                opacity: 0;
                transition: height, opacity .3s;
                .buttonContent{
                    padding: 0;
                }
                li{
                    padding: 1.5rem 2rem;
                }
            }
            &:hover{
                //background-color: #000000;
                border-radius: .5rem;
                cursor: pointer;
            }
            &:has(:checked){
                border-radius: .5rem;
                cursor: pointer;
                .buttonContent{
                    background-color: #000;
                }
                .subMenu{
                    height: auto;
                    opacity: 1;
                    transition: background-color .3s;
                    li{
                        padding: 0;
                    }
                    .buttonContent{
                        background-color: transparent;
                        padding: 1.5rem 2rem;
                    }
                    &:hover{
                        background-color: lighten($color: #000000, $amount: 5%);
                    }
                }
                .arrow{
                    transform: rotate(180deg);
                }
            }
            .arrow{
                position: absolute;
                right: 30px;
                top: 30px;
                width: 20px;
                transition: transform .3;
            }
        }
    }
}

@media screen and (max-width: $computadoraMediana) {
    nav{
        background-color: transparent;
        .logo{
            background-color: #2c2c33;
            padding: 1rem 2rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            img{
                width: auto;
                height: 2rem;
                width: 2rem;
                &:nth-child(2){
                    height: 1.5rem;
                    width: 1.5rem;
                    display: block;
                }
            }
        }
        ul{
            opacity: 0;
            transition: opacity .3s;
            li{
                .buttonContent{
                    img{
                        width: 1.5rem;
                    }
                    span{
                        font-size: 1rem;
                    }
                }
                .arrow{
                    width: rem;
                }
            }
        }
    }
}

@media screen and (max-width: $tablet) {

}

@media screen and (max-width: $telefono) {

}

@media screen and (max-width: $telefono) {

}

@media screen and (max-width: 390px) {
    nav{
        background-color: lighten($color: #333396, $amount: 2%);
        .logo{
            @include center;
            padding: 2rem;
            img{
                width: 5rem;
                height: 5rem;
                &:nth-child(2){
                    display: none;
                }
            }
        }
        ul{
            opacity: 1;
            transition: opacity .3s;
        }
    }
    .mobile{
        background-color: transparent;
        .logo{
            background-color: #2c2c33;
            padding: 1rem 2rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            img{
                width: auto;
                height: 2rem;
                width: 2rem;
                &:nth-child(2){
                    height: 1.5rem;
                    width: 1.5rem;
                    display: block;
                }
            }
        }
        ul{
            opacity: 0;
            transition: opacity .3s;
        }
    }
}

