@import "../../mixins/mixins";
@import "../../base/settings";

.mainContent{
    main{
        .content{
            @include horizontal;
            .MenuProgramas{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                row-gap: 30px;
                column-gap: 30px;
                .Programa{
                    @include center;
                    flex-direction: column;
                    border-radius: 1rem;
                    padding: 3.5rem 0;
                    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.2);
                    background-color: white;
                    user-select: none;
                    text-decoration: none;
                    color: black;
                    span{
                        font-size: 2rem;
                        text-align: center;
                        height: 2.8rem;
                        container-name: sidebar;
                        &:first-child{
                            margin-bottom: .5rem;
                        }
                        &:nth-child(2){
                            font-size: 1.5rem;
                            width: 95%;
                        }
                    }
                    &:hover{
                        cursor: pointer;
                        box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
                    }
                    &:active{
                        box-shadow: inset 0px 0px 20px 4px rgba(0, 0, 0, 0.4);
                    }
                }
            }

            .articulo{
                width: 100%;
                border-radius: 1rem;
                box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.2);
                background-color: white;
                padding: 2rem;
                h3{
                    font-size: 1.5rem;
                }
                p{
                    @include column;
                }
                .result{
                    padding: 1rem;
                    background-color: #F8F8F8;
                    border: 1px solid #CCCCCC;
                    border-radius: .3rem;
                }
                ul{
                    padding: 0 1.5rem;
                    li{
                        margin: 1rem 0;
                        list-style: disc;
                        font-size: 1.1rem;
                        font-family: 'Montserrat', sans-serif;
                    }
                }
                .exampleTitle{
                    display: flex;
                    align-items: center;
                    img{
                        margin-left: 1rem;
                        width: 25px;
                        height: 25px;
                        cursor: pointer;
                    }
                }
                .example{
                    margin: .5rem 0;
                    padding-top: 1rem;
                    .tabs{
                        user-select: none;
                        position: relative;
                        z-index: 5;
                        margin-bottom: .2rem;
                        span{
                            position: relative;
                            font-size: .8rem;
                            padding: .5rem;
                            border-top-right-radius: .5rem;
                            border-top-left-radius: .5rem;
                            background-color: #575757;
                            color: white;
                            &:hover{
                                cursor: pointer;
                            }
                        }
                        .active{
                            background-color: #2D2D2D;
                        }
                    }
                    pre{
                        position: relative;
                        z-index: 10;
                        margin: 0 0 1rem 0;
                        font-size: 1.1rem;
                        line-height: 0;
                        img{
                            position: absolute;
                            width: 20px;
                            bottom: 15px;
                            right: 15px;
                            cursor: pointer;
                            &:hover{
                                filter: invert(36%) sepia(11%) saturate(96%) hue-rotate(314deg) brightness(96%) contrast(90%);
                            }
                            &:active{
                                filter: invert(11%) sepia(0%) saturate(0%) hue-rotate(226deg) brightness(103%) contrast(93%);
                            }
                        }
                    }
                }
                .hideCode{
                    opacity: 0;
                }
                .demo{
                    input{
                        padding: .2rem .5rem;
                        background-color: #e0e0e0;
                        border: none;
                        font-size: .9rem;
                        border-radius: .5rem;
                        margin-left: .5rem;
                    }
                    #result{
                        margin: .5rem 0;
                        font-size: 1rem;
                        font-weight: 500;
                        font-style: italic;
                    }
                }
                span{
                    font-size: 1.1rem;
                }
            }
        }
    }
}
.footer{
    min-height: 6rem;
    width: 100%;
}

@media screen and (max-width: 1500px) {
    .mainContent{
        main{
            .content{
                .MenuProgramas{
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }
    }
}

@media screen and (max-width: $computadoraGrande) {
    .mainContent{
        main{
            .content{
                .MenuProgramas{
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }
    }
}

@media screen and (max-width: $computadoraMediana) {
    .mainContent{
        main{
            .content{
                .MenuProgramas{
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 80px;
                    .Programa{
                        width: 15rem;
                        height: 15rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $tablet) {
    .mainContent{
        main{
            .content{
                .MenuProgramas{
                    grid-template-columns: repeat(1, 1fr);
                    .Programa{
                        span{
                            font-size: 2.5rem;
                            &:nth-child(2){
                                font-size: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $telefono) {
    .mainContent{
        main{
            .content{
                .MenuProgramas{
                    grid-template-columns: repeat(1, 1fr);
                    column-gap: 40px;
                    .Programa{
                        width: 10rem;
                        height: 10rem;
                        span{
                            font-size: 2.2rem;
                            &:nth-child(2){
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
